
.vs/AquaModelLibrary/v16/.suo
AquaModelLibrary/obj/Debug/AquaModelLibrary.csprojAssemblyReference.cache
packages/Reloaded.Memory.3.0.1/.signature.p7s
packages/Reloaded.Memory.3.0.1/lib/net452/Reloaded.Memory.dll
packages/Reloaded.Memory.3.0.1/lib/net452/Reloaded.Memory.xml
packages/Reloaded.Memory.3.0.1/lib/net47/Reloaded.Memory.dll
packages/Reloaded.Memory.3.0.1/lib/net47/Reloaded.Memory.xml
packages/Reloaded.Memory.3.0.1/lib/netstandard2.0/Reloaded.Memory.dll
packages/Reloaded.Memory.3.0.1/lib/netstandard2.0/Reloaded.Memory.xml
packages/Reloaded.Memory.3.0.1/lib/netstandard2.1/Reloaded.Memory.dll
packages/Reloaded.Memory.3.0.1/lib/netstandard2.1/Reloaded.Memory.xml
packages/Reloaded.Memory.3.0.1/LICENSE
packages/Reloaded.Memory.3.0.1/Reloaded.Memory.3.0.1.nupkg
packages/System.Buffers.4.4.0/.signature.p7s
packages/System.Buffers.4.4.0/lib/netcoreapp2.0/_._
packages/System.Buffers.4.4.0/lib/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.4.0/lib/netstandard1.1/System.Buffers.xml
packages/System.Buffers.4.4.0/lib/netstandard2.0/System.Buffers.dll
packages/System.Buffers.4.4.0/lib/netstandard2.0/System.Buffers.xml
packages/System.Buffers.4.4.0/LICENSE.TXT
packages/System.Buffers.4.4.0/ref/netcoreapp2.0/_._
packages/System.Buffers.4.4.0/ref/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.4.0/ref/netstandard1.1/System.Buffers.xml
packages/System.Buffers.4.4.0/ref/netstandard2.0/System.Buffers.dll
packages/System.Buffers.4.4.0/ref/netstandard2.0/System.Buffers.xml
packages/System.Buffers.4.4.0/System.Buffers.4.4.0.nupkg
packages/System.Buffers.4.4.0/THIRD-PARTY-NOTICES.TXT
packages/System.Buffers.4.4.0/useSharedDesignerContext.txt
packages/System.Buffers.4.4.0/version.txt
packages/System.Memory.4.5.3/.signature.p7s
packages/System.Memory.4.5.3/lib/netcoreapp2.1/_._
packages/System.Memory.4.5.3/lib/netstandard1.1/System.Memory.dll
packages/System.Memory.4.5.3/lib/netstandard1.1/System.Memory.xml
packages/System.Memory.4.5.3/lib/netstandard2.0/System.Memory.dll
packages/System.Memory.4.5.3/lib/netstandard2.0/System.Memory.xml
packages/System.Memory.4.5.3/LICENSE.TXT
packages/System.Memory.4.5.3/ref/netcoreapp2.1/_._
packages/System.Memory.4.5.3/System.Memory.4.5.3.nupkg
packages/System.Memory.4.5.3/THIRD-PARTY-NOTICES.TXT
packages/System.Memory.4.5.3/useSharedDesignerContext.txt
packages/System.Memory.4.5.3/version.txt
packages/System.Numerics.Vectors.4.4.0/.signature.p7s
packages/System.Numerics.Vectors.4.4.0/lib/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.4.0/lib/MonoTouch10/_._
packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/lib/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/lib/xamarinios10/_._
packages/System.Numerics.Vectors.4.4.0/lib/xamarinmac20/_._
packages/System.Numerics.Vectors.4.4.0/lib/xamarintvos10/_._
packages/System.Numerics.Vectors.4.4.0/lib/xamarinwatchos10/_._
packages/System.Numerics.Vectors.4.4.0/LICENSE.TXT
packages/System.Numerics.Vectors.4.4.0/ref/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.4.0/ref/MonoTouch10/_._
packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/ref/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/ref/xamarinios10/_._
packages/System.Numerics.Vectors.4.4.0/ref/xamarinmac20/_._
packages/System.Numerics.Vectors.4.4.0/ref/xamarintvos10/_._
packages/System.Numerics.Vectors.4.4.0/ref/xamarinwatchos10/_._
packages/System.Numerics.Vectors.4.4.0/System.Numerics.Vectors.4.4.0.nupkg
packages/System.Numerics.Vectors.4.4.0/THIRD-PARTY-NOTICES.TXT
packages/System.Numerics.Vectors.4.4.0/useSharedDesignerContext.txt
packages/System.Numerics.Vectors.4.4.0/version.txt
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/.signature.p7s
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/LICENSE.TXT
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/System.Runtime.CompilerServices.Unsafe.4.7.0.nupkg
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/THIRD-PARTY-NOTICES.TXT
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/useSharedDesignerContext.txt
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/version.txt
AquaModelLibrary/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
