.vs/
.vs/AquaModelLibrary/DesignTimeBuild/.dtbcache.v2
.vs/AquaModelLibrary/v16/.suo
.vs/AquaModelLibrary/v16/TestStore/0/000.testlog
.vs/AquaModelLibrary/v16/TestStore/0/testlog.manifest
AMLNoesisPlugin/
AquaAutoRig/bin/
AquaAutoRig/obj/
AquaModelLibrary.Native/bin/
AquaModelLibrary.Native/Dependencies/FBX/include/
AquaModelLibrary.Native/Dependencies/FBX/lib/
AquaModelLibrary.Native/obj/
AquaModelLibrary.Noesis/bin/
AquaModelLibrary.Noesis/obj/
AquaModelLibrary.Noesis/Properties/PublishProfiles/FolderProfile.pubxml.user
AquaModelLibrary/bin/
AquaModelLibrary/bin/Debug/AquaModelLibrary.dll
AquaModelLibrary/bin/Debug/AquaModelLibrary.dll.config
AquaModelLibrary/bin/Debug/AquaModelLibrary.pdb
AquaModelLibrary/bin/Debug/AssimpNet.dll
AquaModelLibrary/bin/Debug/NvTriStripDotNet.dll
AquaModelLibrary/bin/Debug/Reloaded.Memory.dll
AquaModelLibrary/bin/Debug/Reloaded.Memory.xml
AquaModelLibrary/bin/Debug/System.Buffers.dll
AquaModelLibrary/bin/Debug/System.Buffers.xml
AquaModelLibrary/bin/Debug/System.Memory.dll
AquaModelLibrary/bin/Debug/System.Memory.xml
AquaModelLibrary/bin/Debug/System.Numerics.Vectors.dll
AquaModelLibrary/bin/Debug/System.Numerics.Vectors.xml
AquaModelLibrary/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
AquaModelLibrary/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
AquaModelLibrary/bin/Release/AquaModelLibrary.dll
AquaModelLibrary/bin/Release/AquaModelLibrary.dll.config
AquaModelLibrary/bin/Release/AquaModelLibrary.pdb
AquaModelLibrary/bin/Release/AssimpNet.dll
AquaModelLibrary/bin/Release/NvTriStripDotNet.dll
AquaModelLibrary/bin/Release/Reloaded.Memory.dll
AquaModelLibrary/bin/Release/Reloaded.Memory.xml
AquaModelLibrary/bin/Release/System.Buffers.dll
AquaModelLibrary/bin/Release/System.Buffers.xml
AquaModelLibrary/bin/Release/System.Memory.dll
AquaModelLibrary/bin/Release/System.Memory.xml
AquaModelLibrary/bin/Release/System.Numerics.Vectors.dll
AquaModelLibrary/bin/Release/System.Numerics.Vectors.xml
AquaModelLibrary/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
AquaModelLibrary/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
AquaModelLibrary/obj/
AquaModelLibrary/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
AquaModelLibrary/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
AquaModelLibrary/obj/Debug/AquaModelLibrary.csproj.CopyComplete
AquaModelLibrary/obj/Debug/AquaModelLibrary.csproj.CoreCompileInputs.cache
AquaModelLibrary/obj/Debug/AquaModelLibrary.csproj.FileListAbsolute.txt
AquaModelLibrary/obj/Debug/AquaModelLibrary.csprojAssemblyReference.cache
AquaModelLibrary/obj/Debug/AquaModelLibrary.dll
AquaModelLibrary/obj/Debug/AquaModelLibrary.pdb
AquaModelLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AquaModelLibrary/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
AquaModelLibrary/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
AquaModelLibrary/obj/Release/AquaModelLibrary.csproj.CopyComplete
AquaModelLibrary/obj/Release/AquaModelLibrary.csproj.CoreCompileInputs.cache
AquaModelLibrary/obj/Release/AquaModelLibrary.csproj.FileListAbsolute.txt
AquaModelLibrary/obj/Release/AquaModelLibrary.csprojAssemblyReference.cache
AquaModelLibrary/obj/Release/AquaModelLibrary.dll
AquaModelLibrary/obj/Release/AquaModelLibrary.pdb
AquaModelLibrary/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
AquaModelTool/bin/
AquaModelTool/bin/AquaModelTool.7z
AquaModelTool/bin/Debug/.txt
AquaModelTool/bin/Debug/AquaModelLibrary.dll
AquaModelTool/bin/Debug/AquaModelLibrary.dll.config
AquaModelTool/bin/Debug/AquaModelLibrary.pdb
AquaModelTool/bin/Debug/AquaModelTool.exe
AquaModelTool/bin/Debug/AquaModelTool.exe.config
AquaModelTool/bin/Debug/AquaModelTool.pdb
AquaModelTool/bin/Debug/Microsoft.WindowsAPICodePack.dll
AquaModelTool/bin/Debug/Microsoft.WindowsAPICodePack.Shell.dll
AquaModelTool/bin/Debug/Microsoft.WindowsAPICodePack.Shell.xml
AquaModelTool/bin/Debug/Microsoft.WindowsAPICodePack.ShellExtensions.dll
AquaModelTool/bin/Debug/Microsoft.WindowsAPICodePack.ShellExtensions.xml
AquaModelTool/bin/Debug/Microsoft.WindowsAPICodePack.xml
AquaModelTool/bin/Debug/NvTriStripDotNet.dll
AquaModelTool/bin/Debug/Reloaded.Memory.dll
AquaModelTool/bin/Debug/Reloaded.Memory.xml
AquaModelTool/bin/Debug/System.Buffers.dll
AquaModelTool/bin/Debug/System.Buffers.xml
AquaModelTool/bin/Debug/System.Memory.dll
AquaModelTool/bin/Debug/System.Memory.xml
AquaModelTool/bin/Debug/System.Numerics.Vectors.dll
AquaModelTool/bin/Debug/System.Numerics.Vectors.xml
AquaModelTool/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
AquaModelTool/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
AquaModelTool/bin/PSO2 Aqua Model Tool.7z
AquaModelTool/bin/PSO2 Aqua Model Tool.zip
AquaModelTool/bin/PSO2 Model Tool.7z
AquaModelTool/bin/PSO2 Model Tool/AquaModelLibrary.dll
AquaModelTool/bin/PSO2 Model Tool/AquaModelLibrary.dll.config
AquaModelTool/bin/PSO2 Model Tool/AquaModelLibrary.pdb
AquaModelTool/bin/PSO2 Model Tool/AquaModelTool.exe
AquaModelTool/bin/PSO2 Model Tool/AquaModelTool.exe.config
AquaModelTool/bin/PSO2 Model Tool/AquaModelTool.pdb
AquaModelTool/bin/PSO2 Model Tool/NvTriStripDotNet.dll
AquaModelTool/bin/PSO2 Model Tool/Reloaded.Memory.dll
AquaModelTool/bin/PSO2 Model Tool/Reloaded.Memory.xml
AquaModelTool/bin/PSO2 Model Tool/System.Buffers.dll
AquaModelTool/bin/PSO2 Model Tool/System.Buffers.xml
AquaModelTool/bin/PSO2 Model Tool/System.Memory.dll
AquaModelTool/bin/PSO2 Model Tool/System.Memory.xml
AquaModelTool/bin/PSO2 Model Tool/System.Numerics.Vectors.dll
AquaModelTool/bin/PSO2 Model Tool/System.Numerics.Vectors.xml
AquaModelTool/bin/PSO2 Model Tool/System.Runtime.CompilerServices.Unsafe.dll
AquaModelTool/bin/PSO2 Model Tool/System.Runtime.CompilerServices.Unsafe.xml
AquaModelTool/bin/Release.zip
AquaModelTool/bin/Release/AquaModelLibrary.dll
AquaModelTool/bin/Release/AquaModelLibrary.dll.config
AquaModelTool/bin/Release/AquaModelLibrary.pdb
AquaModelTool/bin/Release/AquaModelTool.7z
AquaModelTool/bin/Release/AquaModelTool.exe
AquaModelTool/bin/Release/AquaModelTool.exe.config
AquaModelTool/bin/Release/AquaModelTool.pdb
AquaModelTool/bin/Release/AquaModelTool.zip
AquaModelTool/bin/Release/Microsoft.WindowsAPICodePack.dll
AquaModelTool/bin/Release/Microsoft.WindowsAPICodePack.Shell.dll
AquaModelTool/bin/Release/Microsoft.WindowsAPICodePack.Shell.xml
AquaModelTool/bin/Release/Microsoft.WindowsAPICodePack.ShellExtensions.dll
AquaModelTool/bin/Release/Microsoft.WindowsAPICodePack.ShellExtensions.xml
AquaModelTool/bin/Release/Microsoft.WindowsAPICodePack.xml
AquaModelTool/bin/Release/NvTriStripDotNet.dll
AquaModelTool/bin/Release/Release.zip
AquaModelTool/bin/Release/Reloaded.Memory.dll
AquaModelTool/bin/Release/Reloaded.Memory.xml
AquaModelTool/bin/Release/System.Buffers.dll
AquaModelTool/bin/Release/System.Buffers.xml
AquaModelTool/bin/Release/System.Memory.dll
AquaModelTool/bin/Release/System.Memory.xml
AquaModelTool/bin/Release/System.Numerics.Vectors.dll
AquaModelTool/bin/Release/System.Numerics.Vectors.xml
AquaModelTool/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
AquaModelTool/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
AquaModelTool/obj/
AquaModelTool/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
AquaModelTool/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
AquaModelTool/obj/Debug/AquaModelTool.AnimationEditor.resources
AquaModelTool/obj/Debug/AquaModelTool.AnimationTransformSelect.resources
AquaModelTool/obj/Debug/AquaModelTool.AquaModelTool.resources
AquaModelTool/obj/Debug/AquaModelTool.csproj.CopyComplete
AquaModelTool/obj/Debug/AquaModelTool.csproj.CoreCompileInputs.cache
AquaModelTool/obj/Debug/AquaModelTool.csproj.FileListAbsolute.txt
AquaModelTool/obj/Debug/AquaModelTool.csproj.GenerateResource.cache
AquaModelTool/obj/Debug/AquaModelTool.csprojAssemblyReference.cache
AquaModelTool/obj/Debug/AquaModelTool.exe
AquaModelTool/obj/Debug/AquaModelTool.exe.config
AquaModelTool/obj/Debug/AquaModelTool.MaterialEditor.resources
AquaModelTool/obj/Debug/AquaModelTool.ModelEditor.resources
AquaModelTool/obj/Debug/AquaModelTool.pdb
AquaModelTool/obj/Debug/AquaModelTool.Properties.Resources.resources
AquaModelTool/obj/Debug/build.force
AquaModelTool/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AquaModelTool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AquaModelTool/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
AquaModelTool/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
AquaModelTool/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
AquaModelTool/obj/Release/AquaModelTool.AnimationEditor.resources
AquaModelTool/obj/Release/AquaModelTool.AnimationTransformSelect.resources
AquaModelTool/obj/Release/AquaModelTool.AquaModelTool.resources
AquaModelTool/obj/Release/AquaModelTool.csproj.CopyComplete
AquaModelTool/obj/Release/AquaModelTool.csproj.CoreCompileInputs.cache
AquaModelTool/obj/Release/AquaModelTool.csproj.FileListAbsolute.txt
AquaModelTool/obj/Release/AquaModelTool.csproj.GenerateResource.cache
AquaModelTool/obj/Release/AquaModelTool.csprojAssemblyReference.cache
AquaModelTool/obj/Release/AquaModelTool.exe
AquaModelTool/obj/Release/AquaModelTool.exe.config
AquaModelTool/obj/Release/AquaModelTool.MaterialEditor.resources
AquaModelTool/obj/Release/AquaModelTool.ModelEditor.resources
AquaModelTool/obj/Release/AquaModelTool.pdb
AquaModelTool/obj/Release/AquaModelTool.Properties.Resources.resources
AquaModelTool/obj/Release/build.force
AquaModelTool/obj/Release/DesignTimeResolveAssemblyReferences.cache
AquaModelTool/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
AquaModelTool/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
AquaNoesisDummy/
AquaNoesisPlugin/
CMXPatcher/bin/
CMXPatcher/obj/
FalseIdola/bin/
FalseIdola/obj/
obj/
obj/Release/net46/
obj/Release/netstandard2.1/
packages/
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/.signature.p7s
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/lib/net48/Microsoft.WindowsAPICodePack.dll
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/lib/net48/Microsoft.WindowsAPICodePack.xml
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/lib/net452/Microsoft.WindowsAPICodePack.dll
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/lib/net452/Microsoft.WindowsAPICodePack.xml
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/lib/net462/Microsoft.WindowsAPICodePack.dll
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/lib/net462/Microsoft.WindowsAPICodePack.xml
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/lib/net472/Microsoft.WindowsAPICodePack.dll
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/lib/net472/Microsoft.WindowsAPICodePack.xml
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/lib/netcoreapp3.0/Microsoft.WindowsAPICodePack.dll
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/lib/netcoreapp3.0/Microsoft.WindowsAPICodePack.xml
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/lib/netcoreapp3.1/Microsoft.WindowsAPICodePack.dll
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/lib/netcoreapp3.1/Microsoft.WindowsAPICodePack.xml
packages/Microsoft-WindowsAPICodePack-Core.1.1.4/Microsoft-WindowsAPICodePack-Core.1.1.4.nupkg
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/.signature.p7s
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/lib/net48/Microsoft.WindowsAPICodePack.Shell.dll
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/lib/net48/Microsoft.WindowsAPICodePack.Shell.xml
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/lib/net452/Microsoft.WindowsAPICodePack.Shell.dll
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/lib/net452/Microsoft.WindowsAPICodePack.Shell.xml
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/lib/net462/Microsoft.WindowsAPICodePack.Shell.dll
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/lib/net462/Microsoft.WindowsAPICodePack.Shell.xml
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/lib/net472/Microsoft.WindowsAPICodePack.Shell.dll
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/lib/net472/Microsoft.WindowsAPICodePack.Shell.xml
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/lib/netcoreapp3.0/Microsoft.WindowsAPICodePack.Shell.dll
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/lib/netcoreapp3.0/Microsoft.WindowsAPICodePack.Shell.xml
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/lib/netcoreapp3.1/Microsoft.WindowsAPICodePack.Shell.dll
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/lib/netcoreapp3.1/Microsoft.WindowsAPICodePack.Shell.xml
packages/Microsoft-WindowsAPICodePack-Shell.1.1.4/Microsoft-WindowsAPICodePack-Shell.1.1.4.nupkg
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/.signature.p7s
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/lib/net48/Microsoft.WindowsAPICodePack.ShellExtensions.dll
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/lib/net48/Microsoft.WindowsAPICodePack.ShellExtensions.xml
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/lib/net452/Microsoft.WindowsAPICodePack.ShellExtensions.dll
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/lib/net452/Microsoft.WindowsAPICodePack.ShellExtensions.xml
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/lib/net462/Microsoft.WindowsAPICodePack.ShellExtensions.dll
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/lib/net462/Microsoft.WindowsAPICodePack.ShellExtensions.xml
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/lib/net472/Microsoft.WindowsAPICodePack.ShellExtensions.dll
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/lib/net472/Microsoft.WindowsAPICodePack.ShellExtensions.xml
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/lib/netcoreapp3.0/Microsoft.WindowsAPICodePack.ShellExtensions.dll
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/lib/netcoreapp3.0/Microsoft.WindowsAPICodePack.ShellExtensions.xml
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/lib/netcoreapp3.1/Microsoft.WindowsAPICodePack.ShellExtensions.dll
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/lib/netcoreapp3.1/Microsoft.WindowsAPICodePack.ShellExtensions.xml
packages/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4/Microsoft-WindowsAPICodePack-ShellExtensions.1.1.4.nupkg
packages/Reloaded.Memory.3.0.1/.signature.p7s
packages/Reloaded.Memory.3.0.1/lib/net47/Reloaded.Memory.dll
packages/Reloaded.Memory.3.0.1/lib/net47/Reloaded.Memory.xml
packages/Reloaded.Memory.3.0.1/lib/net452/Reloaded.Memory.dll
packages/Reloaded.Memory.3.0.1/lib/net452/Reloaded.Memory.xml
packages/Reloaded.Memory.3.0.1/lib/netstandard2.0/Reloaded.Memory.dll
packages/Reloaded.Memory.3.0.1/lib/netstandard2.0/Reloaded.Memory.xml
packages/Reloaded.Memory.3.0.1/lib/netstandard2.1/Reloaded.Memory.dll
packages/Reloaded.Memory.3.0.1/lib/netstandard2.1/Reloaded.Memory.xml
packages/Reloaded.Memory.3.0.1/LICENSE
packages/Reloaded.Memory.3.0.1/Reloaded.Memory.3.0.1.nupkg
packages/Reloaded.Memory.4.1.1/.signature.p7s
packages/Reloaded.Memory.4.1.1/lib/net5.0/Reloaded.Memory.dll
packages/Reloaded.Memory.4.1.1/lib/net5.0/Reloaded.Memory.xml
packages/Reloaded.Memory.4.1.1/lib/netstandard2.0/Reloaded.Memory.dll
packages/Reloaded.Memory.4.1.1/lib/netstandard2.0/Reloaded.Memory.xml
packages/Reloaded.Memory.4.1.1/lib/netstandard2.1/Reloaded.Memory.dll
packages/Reloaded.Memory.4.1.1/lib/netstandard2.1/Reloaded.Memory.xml
packages/Reloaded.Memory.4.1.1/LICENSE
packages/Reloaded.Memory.4.1.1/Reloaded.Memory.4.1.1.nupkg
packages/System.Buffers.4.4.0/.signature.p7s
packages/System.Buffers.4.4.0/lib/netcoreapp2.0/_._
packages/System.Buffers.4.4.0/lib/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.4.0/lib/netstandard1.1/System.Buffers.xml
packages/System.Buffers.4.4.0/lib/netstandard2.0/System.Buffers.dll
packages/System.Buffers.4.4.0/lib/netstandard2.0/System.Buffers.xml
packages/System.Buffers.4.4.0/LICENSE.TXT
packages/System.Buffers.4.4.0/ref/netcoreapp2.0/_._
packages/System.Buffers.4.4.0/ref/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.4.0/ref/netstandard1.1/System.Buffers.xml
packages/System.Buffers.4.4.0/ref/netstandard2.0/System.Buffers.dll
packages/System.Buffers.4.4.0/ref/netstandard2.0/System.Buffers.xml
packages/System.Buffers.4.4.0/System.Buffers.4.4.0.nupkg
packages/System.Buffers.4.4.0/THIRD-PARTY-NOTICES.TXT
packages/System.Buffers.4.4.0/useSharedDesignerContext.txt
packages/System.Buffers.4.4.0/version.txt
packages/System.Memory.4.5.3/.signature.p7s
packages/System.Memory.4.5.3/lib/netcoreapp2.1/_._
packages/System.Memory.4.5.3/lib/netstandard1.1/System.Memory.dll
packages/System.Memory.4.5.3/lib/netstandard1.1/System.Memory.xml
packages/System.Memory.4.5.3/lib/netstandard2.0/System.Memory.dll
packages/System.Memory.4.5.3/lib/netstandard2.0/System.Memory.xml
packages/System.Memory.4.5.3/LICENSE.TXT
packages/System.Memory.4.5.3/ref/netcoreapp2.1/_._
packages/System.Memory.4.5.3/System.Memory.4.5.3.nupkg
packages/System.Memory.4.5.3/THIRD-PARTY-NOTICES.TXT
packages/System.Memory.4.5.3/useSharedDesignerContext.txt
packages/System.Memory.4.5.3/version.txt
packages/System.Numerics.Vectors.4.4.0/.signature.p7s
packages/System.Numerics.Vectors.4.4.0/lib/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.4.0/lib/MonoTouch10/_._
packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/lib/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/lib/xamarinios10/_._
packages/System.Numerics.Vectors.4.4.0/lib/xamarinmac20/_._
packages/System.Numerics.Vectors.4.4.0/lib/xamarintvos10/_._
packages/System.Numerics.Vectors.4.4.0/lib/xamarinwatchos10/_._
packages/System.Numerics.Vectors.4.4.0/LICENSE.TXT
packages/System.Numerics.Vectors.4.4.0/ref/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.4.0/ref/MonoTouch10/_._
packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/ref/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/ref/xamarinios10/_._
packages/System.Numerics.Vectors.4.4.0/ref/xamarinmac20/_._
packages/System.Numerics.Vectors.4.4.0/ref/xamarintvos10/_._
packages/System.Numerics.Vectors.4.4.0/ref/xamarinwatchos10/_._
packages/System.Numerics.Vectors.4.4.0/System.Numerics.Vectors.4.4.0.nupkg
packages/System.Numerics.Vectors.4.4.0/THIRD-PARTY-NOTICES.TXT
packages/System.Numerics.Vectors.4.4.0/useSharedDesignerContext.txt
packages/System.Numerics.Vectors.4.4.0/version.txt
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/.signature.p7s
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/LICENSE.TXT
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/System.Runtime.CompilerServices.Unsafe.4.7.0.nupkg
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/THIRD-PARTY-NOTICES.TXT
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/useSharedDesignerContext.txt
packages/System.Runtime.CompilerServices.Unsafe.4.7.0/version.txt
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/.signature.p7s
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/Icon.png
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/net45/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/net45/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/LICENSE.TXT
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/net461/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/net461/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.1/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/ref/netstandard2.1/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/System.Runtime.CompilerServices.Unsafe.5.0.0.nupkg
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/THIRD-PARTY-NOTICES.TXT
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/useSharedDesignerContext.txt
packages/System.Runtime.CompilerServices.Unsafe.5.0.0/version.txt
SoulsModelTool/bin/
SoulsModelTool/obj/
WeaponInstaller/bin/
WeaponInstaller/bin/Debug/
WeaponInstaller/bin/Debug/net5.0-windows/
WeaponInstaller/bin/Release/net5.0-windows/AquaModelLibrary.dll
WeaponInstaller/bin/Release/net5.0-windows/AquaModelLibrary.dll.config
WeaponInstaller/bin/Release/net5.0-windows/AquaModelLibrary.pdb
WeaponInstaller/bin/Release/net5.0-windows/AssimpNet.dll
WeaponInstaller/bin/Release/net5.0-windows/AssimpNet.xml
WeaponInstaller/bin/Release/net5.0-windows/Microsoft.WindowsAPICodePack.dll
WeaponInstaller/bin/Release/net5.0-windows/Microsoft.WindowsAPICodePack.Shell.dll
WeaponInstaller/bin/Release/net5.0-windows/Microsoft.WindowsAPICodePack.ShellExtensions.dll
WeaponInstaller/bin/Release/net5.0-windows/NvTriStripDotNet.dll
WeaponInstaller/bin/Release/net5.0-windows/ref/WeaponInstaller.dll
WeaponInstaller/bin/Release/net5.0-windows/Reloaded.Memory.dll
WeaponInstaller/bin/Release/net5.0-windows/Reloaded.Memory.xml
WeaponInstaller/bin/Release/net5.0-windows/WeaponInstaller.deps.json
WeaponInstaller/bin/Release/net5.0-windows/WeaponInstaller.dll
WeaponInstaller/bin/Release/net5.0-windows/WeaponInstaller.exe
WeaponInstaller/bin/Release/net5.0-windows/WeaponInstaller.pdb
WeaponInstaller/bin/Release/net5.0-windows/WeaponInstaller.runtimeconfig.dev.json
WeaponInstaller/bin/Release/net5.0-windows/WeaponInstaller.runtimeconfig.json
WeaponInstaller/bin/Release/net5.0-windows/Weapons/weaponSettings.txt
WeaponInstaller/bin/Release/net5.0-windows/ZomboniLib.dll
WeaponInstaller/bin/Release/net5.0-windows/ZomboniLib.pdb
WeaponInstaller/obj/
WeaponInstaller/obj/Debug/net5.0-windows/
x64/
build/

AquaModelLibrary.Extensions/bin/

AquaModelLibrary.Data/bin/

AquaModelLibrary.Core/bin/

AquaModelLibrary.Helpers/bin/
